
headerbar {
    background: #282C32;
    color: #c9d1d9;
}


window {
    background: #282C32;
    color: #c9d1d9;
}


entry, button {
    background: #282C32;
    color: #c9d1d9;
}

/* Текст в списках (GtkTreeView, GtkListBox) */
treeview, list {
    background: #282C32;;
    color: #c9d1d9;
}

list row {
    background: #282C32;
    color: #c9d1d9;
}

list row:selected {
    background: #282C32;
    color: #ffffff;
}

/* Текст кнопок */
button {
    background: #282C32;
    color: #c9d1d9;
    border-radius: 6px;
    padding: 4px;
}

/* Кнопка при наведении */
button:hover {
    background: #282C32;
    color: #ffffff;
}

/* Кнопка при нажатии */
button:active {
    background: #282C32;
    color: #ffffff;
}
