* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 18px;
    color: #cdd6f4;
}

#workspaces {
    margin: 5px;
}
#workspaces button {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    background: transparent;
    transition: all 0.1s ease;
}
#workspaces button.active {
    border-bottom: 2px solid #f5e0dc;
}
#workspaces button:hover {
    border-bottom: 2px solid #f5e0dc;
}

#custom-power {
    margin: 5px;
    border: none;
    color: #f38ba8;
    font-size: 24px;
    background: transparent;
}

#custom-cava {
    font-size: 20px;
    margin: 8px 50px;
    padding: 0 10px;
}
#language {
    font-weight: bold;
    padding: 0 10px;
}
#clock {
    padding: 0 10px;
}
#temperature {
    padding: 0 10px;
    color: #89b4fa;
}
#memory {
    padding: 0 10px;
    color: #a6e3a1;
}
#cpu {
    padding: 0 10px;
    color: #bac2de;
}