* {
    font-family: "JetBrainsMono Nerd Font", monospace;
}

#workspaces button {
    background: transparent;
    color: #ffffff
}

#workspaces button.active {
    background: rgba(00, 255, 255, 0.1);
}
