* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    border-radius: 0;
    border: 0;
    font-size: 18px;
    color: #cdd6f4;
}

#custom-power {
    font-size: 25px;
    margin: 5px 8px;
    color: #e64553;
    background-color: #313244;
    padding: 0 8px 0 6px;
    border-radius: 1rem;
}

/* #workspaces {
    margin: 5px;
}
#workspaces button {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    background: transparent;
    transition: all 0.1s ease;
} */

#temperature {
    padding: 8px;
    color: #89b4fa; 
}

#memory {
    padding: 8px;
    color: #a6e3a1;
}

#cpu {
    padding: 8px;
    color: #bac2de;
}

#language {
    font-weight: bold;
    padding: 8px;
}

#network {
    padding: 8px;
}

#backlight {
    padding: 8px;
}

#battery {
    padding: 8px;
}

#clock {
    padding: 8px;
} 
