#window {
    font-family: "Noto Sans", monospace;
    font-size: 18px;
    color: #cdd6f4;
    border-radius: 0;
}
#input {
    border-radius: 0;
    padding: 0.8rem 1rem;
}
#entry {
    padding: 0.6rem 1rem;
    border-radius: 0;
}
#img {
    margin-right: 1rem;
}
