#window {
    font-family: "Noto Sans", monospace;
    font-size: 18px;
    background-color: rgba(30, 31, 41, 0.99);
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: 30px;
}
#input {
    border-radius: 0;
    padding: 0.8rem 1rem;
}
#entry {
    padding: 0.6rem 1rem;
    border-radius: 0;
}
#img {
    margin-right: 1rem;
}
