* {
    font-family: "JetBrainsMono Nerd Font", monospace;
}

window#waybar {
    background: rgba(30, 30, 46, 0.8);
}

#workspaces button {
    background: transparent;
    color: #ffffff
}

#workspaces button.active {
    background: rgba(00, 255, 255, 0.1);
    color: #00ffff;
    border-radius: 8px;
}