window {
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    border: 2px solid #ff5c8a;
    background-color: transparent;
}

#input {
  padding: 5px;
  border: 2px solid #ff5c8a;
  background-color: #2e2e3e;
  color: #cdd6f4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#input:focus {
  border: none;
}

#entry {
  padding: 6px;
  margin: 8px;
  background-color: transparent;
  color: #cdd6f4;
  padding-left: 15px;
}

#entry:selected {
  background-color: #ff5c8a;
  color: #1e1e2e;
  border-radius: 10px;
}

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 2
  ;
}
